.container {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  color: #2196f3;
  font-size: 24px;
  margin-right: auto;
  font-style: normal;
  font-weight: 600;
}
