.container {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  color: #2196f3;
  font-size: 24px;
  margin-right: auto;
  font-style: normal;
  font-weight: 600;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #a0b0b9;
}

.content {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #4a4a4a;
}
