.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.transfer-info {
  width: 120px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #a0b0b9;
}

.content {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #4a4a4a;
}
