.container {
  width: calc(100% - 252px);

  @media (max-width: 768px) {
    width: 100%;
    margin: 20px;
  }
}

.tickets-type-load {
  margin-bottom: 10px;
}

.tickets-type-no-load {
  margin-bottom: 20px;
}
